@import "../../consts/colors.styl"

.player
  margin 10px
  position relative
  color yellow-sun
  text-align left
  padding 3% 0 3% 3%;
  font-weight bold
  box-shadow 2px 4px 2px -2px black
  font-size 18px
  letter-spacing 1px
  transform translate3d(0, 0, 0)
  transition 200ms
  border 1px solid black
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

  &:nth-child(odd)
    background-color white-night
    border 1px solid white-night

  &:nth-child(even)
    background-color night
    border 1px solid night
