doctype html
html
    head
        title= htmlWebpackPlugin.options.title
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://cdn.ravenjs.com/3.18.1/raven.min.js", crossorigin="anonymous")
    body
        #react-main-app
