{
  "plugins": [
    "react"
  ],
  "parserOptions": {
      "ecmaVersion": 6,
  },
  "env": {
        "browser": true,
        "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
        // enable additional rules
        "indent": ["error", 4],
        "semi": ["error", "always"],
  }
}
