{
  "plugins": [
    "react"
  ],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
  },
  "env": {
        "es6": true,
        "browser": true,
        "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
        // enable additional rules
        "indent": [2, 4, { "SwitchCase": 1 }],
        "semi": ["error", "always"],
  }
}
