@import "../../constants/constants.styl"

.time-table
  display inline-block
  min-width time-table-min-width

.timer
  font-size timer-font-size
  margin timer-margin
  position relative

  .timer-icon
    top timer-icon-correction;
    right: timer-icon-correction + 5;
