@import "../../consts/constants.styl"

.time-table
  display inline-block

.timer
  font-size timer-font-size
  margin timer-margin
  position relative

  .timer-icon
    top timer-icon-correction;
    right: timer-icon-correction + 5;
