@import "../../constants/constants.styl"

.time-card
  text-align center

.timer
  font-size timer-font-size
  display inline-block
  margin timer-margin
  position relative

  .timer-icon
    top timer-icon-correction;
    right: timer-icon-correction;
