header-color = rgb(139, 195, 74)
player-w = 150px
player-wrapper-margin = 20px

.players-list
  display inline-block
  vertical-align top
  width 70%
  margin 10px
  text-align center

  .players-list-wrapper
    display inline-block
    text-align left
    margin-left player-wrapper-margin

  .player
    display inline-block
    min-width player-w
    width 12%
    margin 1%

  .players-header
    text-align center
    background-color header-color
    margin-bottom 15px
