@import "../../consts/colors.styl"
@import "../../consts/constants.styl"

.move-enter
  opacity 0.01

.move-enter-active
  opacity 1
  transition animation-duration

.player.move-enter.move-enter-active
  border-color yellow-sun

.move-leave
  opacity 1

.move-leave.move-leave-active
  opacity 0.01
  transition animation-duration

.move-leave.move-leave-active ~ .player
  transform translate3d(0, animation-gap-height, 0)
