@import "../../constants/constants.styl"

.racecourse
  display block

  .time-table
    box-sizing border-box
    position absolute
    right 0

  .header
    display inline-block
    width 100%
    text-align center
    padding 20px 0 20px 0
    font-size 30px


.races-container
  margin-top 20px
  text-align center
  padding 20px

  .race
    display inline-block
    width 25%
    box-sizing border-box
    vertical-align top

    .race-header
      border-bottom 2px solid gray
      padding-bottom 10px
      margin-bottom 10px
