@import "../../constants/colors.styl"
@import "../../constants/constants.styl"

.racecourse
  display block

  .material-icons
    top 10px

  .time-table
    box-sizing border-box
    position absolute
    right 0
    top 7px

  .header
    display inline-block
    width 100%
    text-align center
    padding 20px 0 20px 0
    font-size 30px

    h1
      font-size 45px
      color yellow-sun
      margin 5px

    h5
      color raspberry
      margin 5px

  .race-name
    font-size 20px
    margin-top 5px
    margin-left 10px
    display inline-block
    color black
    font-weight bold



.races-container
  margin-top 20px
  text-align center

  .race
    display inline-block
    width 25%
    box-sizing border-box
    vertical-align top

    .race-header
      padding-bottom 10px
      background-color yellow-sun
      font-weight bold
      margin 5px 5px 20px 5px
