border-color = rgba(128, 128, 128, 0.19)

.winners-list
  display inline-block
  vertical-align top
  width 25%
  border 2px solid border-color
  border-radius 10px

  .winners-header
    text-align center
